<a href="https://colab.research.google.com/github/Nilanchal0107/Python/blob/main/Copy_of_NILANCHAL_DAY2_Submission_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 2
match num:
  case 1:
    print("one")
  case 2:
    print("two")
  case 3:
    print("three")
  case _:
    print("Default")

Enter a number: 3
Wednesday

In [ ]:
num = int(input("Enter a number: "))
match num:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print("Not a Day of the week")

Enter a number: 4
Thursday

In [ ]:
while(condition):
    #operation
    # i++/i--

SyntaxError: incomplete input (ipython-input-3519979327.py, line 4)

In [ ]:
# display numbers in descending order from 1 to 50

i = 20

while ( i >= 10 ):
  print(i)
  i = i - 2

20
18
16
14
12
10

In [ ]:
# i = i + 1
# i = i - 1
# for variable in range(start, end)
# for variable in range(end):
# for variable in range(start,end,step)

for i in range(1,11,-2):
  print(i, end="")

for i in range(11,1,-2):
  print(i, end=",")

11,9,7,5,3,

In [ ]:
def add(a,b):
  a + b
  print(a + b)

In [ ]:
s = "Welcome to Bootcamp 98"
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.isalpha())
print(s.isalnum())

WELCOME TO BOOTCAMP 98
welcome to bootcamp 98
Welcome to bootcamp 98
False
False

In [ ]:
# Function

def add():
  num_1 = int(input("Enter first number: "))
  num_2 = int(input("Enter second number: "))
  return num_1 + num_2

print(add())

Enter first number: 10
Enter second number: 45
55

In [ ]:
def add():
  num_1 = int(input("Enter first number: "))
  num_2 = int(input("Enter second number: "))
  print(num_1 + num_2)

add()

Enter first number: 10
Enter second number: 35
45

In [ ]:
def add(*list):
  return sum(list)

print(add(10,20,30,40,50))

150

In [ ]:
def tax(num):
  if num < 10000:
    tax = 0
  elif num < 50000:
    tax = num * 0.02
  elif num < 100000:
    tax = num * 0.05
  else:
    tax = num * 0.10
  return tax

amount = int(input("Enter an amount: "))

print(tax(amount))

Enter an amount: 3246
0

In [ ]:
lst = [1,2,3,4,5]
print(lst)
print(lst.append(10))
print(lst)
print(lst.insert(3,10))
print(lst)
print(lst.pop())
print(lst)
print(lst.remove(3))

[1, 2, 3, 4, 5]
None
[1, 2, 3, 4, 5, 10]
None
[1, 2, 3, 10, 4, 5, 10]
10
[1, 2, 3, 10, 4, 5]
None

In [ ]:
lst = [1,2,3,4,5]
sum = 0
for i in lst:
  sum = sum + i
print(sum)

15

In [ ]:
lst = [1, 2, 3, 4, 5, 10]
print(len(lst))
print(max(lst))
print(min(lst))

6
10
1

In [ ]:
lst = [8, 4, 5, 2, 7, 3, 1]
lst.sort()
print(lst[-2])

7

In [ ]:
#Rotate the elements of the list by n position

n = int(input("Enter a number: "))
lst = [10, 20, 30, 40, 50]

for n in range(n):
  lst.append(lst.pop(0))


print(lst)

Enter a number: 2
[30, 40, 50, 10, 20]

In [ ]:
t = ()
t = tuple()
print(type(t))

<class 'tuple'>

In [ ]:
t = (3,5,2,4,5)
print(t[-2])

4